<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Production Page </title>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Bug Tracker Software</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
      	<a class="nav-link" th:href="@{/login}">Login</a>
      </li>
        <li class="nav-item active">
        <a th:href="@{/register}" class="nav-link">Register</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" th:href="@{/list_user}" >Lists of Users</a>
      </li>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<body>
<div class="container text-center">
<br>
<a th:href="@{product/new}"> New Production</a>
<div class="container text-center">
<br>
<br>
<div class="m-3">
	<h3> Product List </h3>
	
						
			<div>
			<table class="table table-hover">
			  <thead class="thead-dark">
			    <tr>
			      <th >Product  Id</th>
			      <th >Product Name</th>
			      <th >Brand</th>
			      <th >Country</th>
			      <th>Price</th>
			      <th >Update</th>
			      <th >Delete</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="prod: ${listProducts}" >
			      <td th:text="${prod.product_id}">Product  Id</td>
			      <td th:text="${prod.prod_name}">Product Name</td>
			      <td th:text="${prod.prod_brand}">Brand</td>
			      <td  th:text="${prod.prod_madein}">Country</td>
			      <td  th:text="${prod.price}">Price</td>
			       <td><a th:href="@{'/edit/'+${prod.product_id}}" class="btn btn-success"> Update</a></td>
			       <td><a th:href="@{'/delete/'+${prod.product_id}}" class="btn btn-danger"> Delete</a></td>
			    </tr>
			  
			  </tbody>
			</table>
		</div>
	
		</div>
	</div>
</div>
</body>
</html>


</body>
</html>