<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Page</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>

<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Bug Tracker Software</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
      	<a class="nav-link" th:href="@{/login}">Login</a>
      </li>
        <li class="nav-item active">
        <a th:href="@{/register}" class="nav-link">Register</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" th:href="@{/list_user}" >Lists of Users</a>
      </li>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




<form action="#" th:action="@{/product/save}" method="post" style="max-width:600px;margin:0 auto" th:object=${product}>
    
    <div class="m-3">
    <div class="form-group row">
    	 <label class="col-form-label col-4" for="product_id">Product Id</label>
    	 <div class=" col-8">
    	 	 <input type="text" id="product_id" readonly="readonly" name="product_id" autofocus="autofocus" class="form-control" th:field=*{product_id} required />
    	 </div>
    	</div>
    
    
    	<div class="form-group row">
    	 <label class="col-form-label col-4" for="prod_name">Product Name</label>
    	 <div class=" col-8">
    	 	 <input type="text" id="prod_name" name="prod_name" autofocus="autofocus" class="form-control" th:field=*{prod_name} required />
    	 </div>
    	</div>
    	
    	<div class="form-group row">
    	 <label class="col-form-label col-4" for="prod_brand">Product Brand</label>
    	 <div class=" col-8">
    	 	 <input type="text" id="prod_brand" name="prod_brand" autofocus="autofocus" class="form-control"  th:field=*{prod_brand} required />
    	 </div>
    	</div>
    	<div class="form-group row">
    	 <label class="col-form-label col-4" for="prod_madein">Made in</label>
    	 <div class=" col-8">
    	 	 <input type="text" id="prod_madein" name="prod_madein" autofocus="autofocus" class="form-control"  th:field=*{prod_madein} required/>
    	 </div>
    	</div>
    	<div class="form-group row">
    	 <label class="col-form-label col-4" for="price">Price</label>
    	 <div class=" col-8">
    	 	 <input type="text"  id="price" name="price" autofocus="autofocus" class="form-control" th:field=*{price} required />
    	 </div>
    	 
    	 
    	</div>
    	 <br>
    	 <br>
    	<div>
    	 	<button type="submit" class="btn btn-danger">Edit</button>
    	 </div>
    	
    	
    	
    </div>
    
    </form>



</body>
</html>