<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[${pageTitle}]]</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Bug Tracker Software</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
      	<a class="nav-link" th:href="@{/login}">Login</a>
      </li>
        <li class="nav-item active">
        <a th:href="@{/register}" class="nav-link">Register</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" th:href="@{/list_user}" >Lists of Users</a>
      </li>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<br>
<body>
<div class="container text-center">
<div class="m-3">
		<h3> You are reseting  following  token [[${token}]] </h3>
		<br>
		<br>
	<form th:action="@{/change_password}" method="post" style="max-width:350px;margin:0 auto">
     <div class=" border border-secondary rounded p-3 ">
	    <div >
	     <p>
		     <input type="hidden" name="token" th:value="${token}"  required/>
	    	</p>
	    	
		    <p>
		     	<input placeholder="Enter your password " type="text" id="password" name="password" autofocus="autofocus" class="form-control"   required/>
	    	</p>
	    	
	    	 <p>
	    	 	 <input  placeholder="Confirm it please " type="password" id="conpassword"
	    	 	  name="conpassword" autofocus="autofocus" th:oninput="checkFunc()" class="form-control"  required
	    	 	  />
	    	 </p>
	    	 <br>
	    
	    	<p>
	    	
	    	 	<input type="submit"   value="Change Password" class="btn btn-danger"/>
	    	</p>
	    	
    	</div>
    	</div>
     </form>
  
</div>
</div>
<script type="type/javascript">
	function checkFunc(event){
	console.log("new_pass",event)
	if(document.getElementById('#conpassword')!=document.getElementById('#password'){
    newpass.setCustomValidity("Passwords dont match")
		}
		else{
		 newpass.setCustomValidity("")
		}
	
</script>
</body>
</html>